body {
  margin: 0;
  height: 100vh;
  background-color: #bfac93;
  font-family: "Helios Antique", sans-serif;
}

/* h1 {
  color: #d15a53;
  margin: 20px;
  font-size: 36px;
  text-align: center;
  text-shadow: 5px 7px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #bfac93, white, #bfac93);
} */

p {
  color: #288388;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.gallery img {
  height: 200px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #bfac93;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.modal.active {
  display: flex;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 5px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY((-50%));
  font-size: 2rem;
  color: #d15a53;
  /* background: rgba(0, 0, 0, 0.5); */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-btn:hover {
  background: #288388;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: #288388;
  cursor: pointer;
}

html,
body {
  scroll-behavior: smooth;
}

.back a {
  color: #288388;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  border-radius: 5px;
  background-color: #bfac93;
}

.box.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #d15a53;
  padding: 12px 16px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s;
}

.box.up a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.box.up:hover {
  background: #288388;
}

/* Плавний скрол */
html,
body {
  scroll-behavior: smooth;
}

@media (max-width: 375px) {
  .prev {
    left: 4px;
  }

  .next {
    right: 4px;
  }

  .nav-btn {
    position: absolute;
    top: 62%;
    transform: translateY((-50%));
    font-size: 18px;
    color: #d15a53;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: unset;
  }

  .nav-btn:hover {
    background: none;
  }
}
